<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/index.css">

    <title>Signup</title>
</head>

<body>
    <div class="add_mem">
     
        <form method="POST" action="/signup">
            <div class="labe1" >

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
            </div>
            <div class="labe1" >

                <label class="labe1" for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
            </div>
            <div class="labe1" >
                <label class="labe1" for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" required><br>

            </div>
            <div class="labe1" >

                <label class="labe1" for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required><br>
            </div>
            <div class="labe1" >

                <label class="labe1" for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>
            </div>
            <div class="labe1" >


                <label class="labe1" for="phone">Phone Number:</label>
                <input type="text" id="phone" name="phone"><br>
            </div>
            <div class="labe1" >

                <input class="labe1" type="submit" value="Signup">
            </div>
        </form>

    </div>
</body>

</html>